.discussion{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    .discussion__panel{
        margin: 10px auto;
        width: 400px;
        display: flex;
      //  align-items: center;
        gap: 10px;
    }

    .discussion__description{
        font-size: 14px;
    }

    .comment__form{
        width: 300px;
        min-height: 200px;
        margin: 10px;
        textarea {
            resize: none;
            width: 100%;
            min-height: 50px;
        }
    }

    .comment_author{
        display: flex;
        min-height: 65px;
        align-items: center;
        gap: 10px;

        .comment_avatar{
            width: 35px;
            height: 35px;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }

        .comment_name{
            color: rgb(7, 26, 238);
        }
    }

}