.header{
    width: 100%;
    height: 60px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

    .header__title{
        width: 250px;
        font-size: 22px;
        text-align: left;
        height: 40px;
        text-transform: uppercase;
    }

    .header__cabinet{
        text-transform: uppercase;
        cursor: pointer;
        color: black;
    }

    .header__cabinet:hover{
        color: rgb(98, 255, 0);
    }
}