.container{
    width: 1350px !important;
    background-color: rgba(95, 108, 150, 0.1);
    margin: 0 auto;
    min-height: 95vh;
}


.app__header{
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
}